@charset "UTF-8";

body{
    background-color: rgb(172, 190, 206);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(41, 52, 61);
}

/*Em CSS escrevemos id como #*/
/*Para configurar um id, escrevemos como seletor primeiramente a TAG onde ele se encontra, depois # para falar que é um id e por fim o nome que demos ao id*/
h1#principal{
    text-align: center;
    background-color: rgb(41, 52, 61);
    color: white;
}

h2{
    color: rgb(84, 148, 204);
}

/*Em CSS escrevemos class como .*/
/*Para configurar um class escrevemos como seletor . para falar que é um class e o nome que demos ao class lá no codigo html*/
.basico{
    color: rgb(99, 22, 88);
}

.intermediario{
    color: rgb(10, 151, 73);
}
.avancado{
    color: rgb(226, 11, 11);
}